{
  "openapi": "3.1.0",
  "info": {
    "title": "EdgeNext API V5",
    "version": "5.0.0",
    "description": "EdgeNext API V5 definition."
  },
  "servers": [
    {
      "url": "https://apiv4.lalcsafe.com"
    }
  ],
  "paths": {
    "/api/v5/rules/conditions": {
      "get": {
        "operationId": "RegisterConditionRuleHttpServer_GetConditionRuleList_GET_api_v5_rules_conditions",
        "summary": "Get Condition Rule List",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConditionRule_ListRuleConditionTypeResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v5/rules/dicts": {
      "get": {
        "operationId": "RegisterConditionRuleHttpServer_ListRequestMethod_GET_api_v5_rules_dicts",
        "summary": "Get Request Method List",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConditionRule_ListRuleDictResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "business_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Business use case: cache indicates caching, acl indicates access control, and ssl_acl indicates ssl access control."
          }
        ]
      }
    },
    "/api/v5/ruletpls": {
      "post": {
        "operationId": "RegisterRuleTemplateHttp_CreateRuleTemplate_POST_api_v5_ruletpls",
        "summary": "Create a template",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/RuleTemplate_CreateRuleTemplateResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a Speed and Network template and optionally bind domains based on the configuration.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleTemplate_CreateRuleTemplateReq"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "RegisterRuleTemplateHttp_UpdateRuleTemplate_PUT_api_v5_ruletpls",
        "summary": "Update Template",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/RuleTemplate_UpdateRuleTemplateResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update the name and description of the specified Speed and Network template.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleTemplate_UpdateRuleTemplateReq"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "RegisterRuleTemplateHttp_DeleteRuleTemplate_DELETE_api_v5_ruletpls",
        "summary": "Delete Template",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/RuleTemplate_DeleteRuleTemplateResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete the specified Speed and Network template.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleTemplate_DeleteRuleTemplateReq"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "RegisterRuleTemplateHttp_GetRuleTemplateList_GET_api_v5_ruletpls",
        "summary": "List templates",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/RuleTemplate_ListRuleTemplateResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Filter Speed and Network templates by name, domain, and template type.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "description": "Page number. The default is 1."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maxLength": 1000,
              "minimum": 1
            },
            "description": "Number of items per page. Default: 1000; maximum: 1000."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Template name."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Domain keyword."
          },
          {
            "name": "app_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "network_speed"
              ]
            },
            "description": "Template type. Fixed value: network_speed."
          },
          {
            "name": "tpl_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Template type."
          }
        ]
      }
    },
    "/api/v5/ruletpls/detail": {
      "get": {
        "operationId": "RegisterRuleTemplateHttp_GetRuleTemplateDetail_GET_api_v5_ruletpls_detail",
        "summary": "Get template details",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/RuleTemplate_GetRuleTemplateDetailResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get the basic information and configuration of a specified Speed and Network template.",
        "parameters": [
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Business object ID."
          },
          {
            "name": "business_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "tpl",
                "global"
              ]
            },
            "description": "Business object type: tpl indicates a template, and global indicates a global template."
          },
          {
            "name": "app_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "network_speed"
              ]
            },
            "description": "Template type. Fixed value: network_speed."
          }
        ]
      }
    },
    "/api/v5/ruletpls/domain/switch_tpl": {
      "put": {
        "operationId": "RegisterRuleTemplateHttp_DomainSwitchRuleTemplate_PUT_api_v5_ruletpls_domain_switch_tpl",
        "summary": "Switch Domain Template",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/RuleTemplate_DomainSwitchRuleTemplateResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Switch the specified domains or domain groups to the specified target template.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleTemplate_DomainSwitchRuleTemplateReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/ruletpls/domains": {
      "get": {
        "operationId": "RegisterRuleTemplateHttp_ListRuleTpsDomains_GET_api_v5_ruletpls_domains",
        "summary": "List domains bound to a template",
        "tags": [
          "Template Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/RuleTemplate_ListRuleTpsDomainsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List domains bound to a specified Speed and Network template.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Template ID."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Page number."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of items per page."
          },
          {
            "name": "app_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "network_speed"
              ]
            },
            "description": "Template type. Fixed value: network_speed."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Domain keyword."
          },
          {
            "name": "tpl_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Template type."
          }
        ]
      }
    },
    "/api/v5/ruletpl/cache/rules": {
      "post": {
        "operationId": "RegisterCacheV3HttpServer_RuleAdd_POST_api_v5_ruletpl_cache_rules",
        "summary": "Create a cache rule",
        "tags": [
          "Cache Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/CacheV3_RuleAddResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a cache rule.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CacheV3_RuleAddReq"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "RegisterCacheV3HttpServer_RuleList_GET_api_v5_ruletpl_cache_rules",
        "summary": "Get Cache Rule List",
        "tags": [
          "Cache Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/CacheV3_RuleListResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get the cache rule list. See “Create Cache Rule” for field definitions.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "description": "Page number. The default is 1."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maxLength": 100,
              "minimum": 1
            },
            "description": "Number of items per page. Default: 10; maximum: 100."
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Business object ID."
          },
          {
            "name": "business_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "domain",
                "tpl",
                "global"
              ]
            },
            "description": "Business object type: domain indicates a domain, tpl indicates a template, and global indicates global configuration."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "enum": [
                0,
                1,
                2
              ]
            },
            "description": "Rule status. Supports 0, 1, and 2."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "description": "Cache rule ID. Specify it to query a particular rule."
          }
        ]
      }
    },
    "/api/v5/ruletpl/cache/rule": {
      "put": {
        "operationId": "RegisterCacheV3HttpServer_RuleEdit_PUT_api_v5_ruletpl_cache_rule",
        "summary": "Edit a caching rule",
        "tags": [
          "Cache Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/CacheV3_RuleEditResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update the name or remark of an existing cache rule.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CacheV3_RuleEditReq"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "RegisterCacheV3HttpServer_RuleDelete_DELETE_api_v5_ruletpl_cache_rule",
        "summary": "Delete Cache Rules",
        "tags": [
          "Cache Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/CacheV3_RuleDeleteResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete one or more cache rules.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CacheV3_RuleDeleteReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/ruletpl/cache/rule_status": {
      "put": {
        "operationId": "RegisterCacheV3HttpServer_RuleStatus_PUT_api_v5_ruletpl_cache_rule_status",
        "summary": "Enable or Disable Cache Rules",
        "tags": [
          "Cache Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/CacheV3_RuleStatusResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Enable or disable specified rules.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CacheV3_RuleStatusReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/ruletpl/cache/rule_sort": {
      "put": {
        "operationId": "RegisterCacheV3HttpServer_RuleSort_PUT_api_v5_ruletpl_cache_rule_sort",
        "summary": "Sort Cache Rules",
        "tags": [
          "Cache Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/CacheV3_RuleSortResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Reorder cache rule priorities within the same service.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CacheV3_RuleSortReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/ruletpl/cache/rule/conf": {
      "put": {
        "operationId": "RegisterCacheV3HttpServer_RuleConfEdit_PUT_api_v5_ruletpl_cache_rule_conf",
        "summary": "Edit a caching rule configuration",
        "tags": [
          "Cache Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/CacheV3_RuleEditResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update detailed cache rule configuration, including TTL and custom CacheKey settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CacheV3_RuleConfEditReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/ruletpl/cache/global/conf": {
      "get": {
        "operationId": "RegisterCacheV3HttpServer_GlobalRuleInfo_GET_api_v5_ruletpl_cache_global_conf",
        "summary": "Get Default Global Cache Configuration",
        "tags": [
          "Cache Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/CacheV3_GlobalRuleInfoResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get the default global cache configuration. The structure is shared with “Edit Cache Rule Configuration.”",
        "parameters": []
      }
    },
    "/api/v5/sdns/domains": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_ListV4Domains_GET_api_v5_sdns_domains",
        "summary": "List domains",
        "tags": [
          "Domain Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_ListV4DomainsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Group ID."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Domain."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Pagination."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Page size."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "DNS domain ID."
          }
        ]
      },
      "post": {
        "operationId": "RegisterGinConsoleDnsHttpServer_AddV4Domains_POST_api_v5_sdns_domains",
        "summary": "Add domain",
        "tags": [
          "Domain Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_AddV4DomainsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_AddV4DomainsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/domains/detail": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_GetV4Domains_GET_api_v5_sdns_domains_detail",
        "summary": "Get domain details",
        "tags": [
          "Domain Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_GetV4DomainsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "domain_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Domain ID."
          }
        ]
      }
    },
    "/api/v5/sdns/domains_batch_add": {
      "post": {
        "operationId": "RegisterGinConsoleDnsHttpServer_BatchAddV4Domains_POST_api_v5_sdns_domains_batch_add",
        "summary": "Batch Add Domains",
        "tags": [
          "Domain Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_BatchAddV4DomainsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "domains are deduplicated before the batch task is created and the DNS domain quota is validated.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_BatchAddV4DomainsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/domains_batch_delete": {
      "delete": {
        "operationId": "RegisterGinConsoleDnsHttpServer_BatchDeleteV4Domains_DELETE_api_v5_sdns_domains_batch_delete",
        "summary": "Batch Delete Domains",
        "tags": [
          "Domain Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_BatchDeleteV4DomainsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_BatchDeleteV4DomainsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/domains/stat": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_GetV4DomainsStat_GET_api_v5_sdns_domains_stat",
        "summary": "Get domain statistics",
        "tags": [
          "Domain Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_GetV4DomainsStatResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start time."
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End time."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Domain."
          }
        ]
      }
    },
    "/api/v5/sdns/domains/servers": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_GetV4DomainsServers_GET_api_v5_sdns_domains_servers",
        "summary": "Get domain name servers",
        "tags": [
          "Domain Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_GetV4DomainsServersResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "domain_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "DNS domain ID."
          }
        ]
      }
    },
    "/api/v5/sdns/records": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_ListV4Records_GET_api_v5_sdns_records",
        "summary": "List domain DNS records",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_ListV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Page number. The default is 1."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of items per page. Default: 10; maximum: 100."
          },
          {
            "name": "domain_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "DNS domain ID."
          },
          {
            "name": "record_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "DNS record hostname filter, up to 200 characters."
          },
          {
            "name": "record_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "DNS record type filter."
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "DNS record group ID."
          }
        ]
      },
      "post": {
        "operationId": "RegisterGinConsoleDnsHttpServer_AddV4Records_POST_api_v5_sdns_records",
        "summary": "Add domain DNS record",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_AddV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_AddV4RecordsReq"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "RegisterGinConsoleDnsHttpServer_UpdateV4Records_PUT_api_v5_sdns_records",
        "summary": "Edit a domain DNS record",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_UpdateV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_UpdateV4RecordsReq"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "RegisterGinConsoleDnsHttpServer_DeleteV4Records_DELETE_api_v5_sdns_records",
        "summary": "Delete Domain Record",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_DeleteV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_DeleteV4RecordsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/records_batch_add": {
      "post": {
        "operationId": "RegisterGinConsoleDnsHttpServer_BatchAddV4Records_POST_api_v5_sdns_records_batch_add",
        "summary": "Batch Add Domain Records",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_BatchAddV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_BatchAddV4RecordsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/records_batch_pause": {
      "post": {
        "operationId": "RegisterGinConsoleDnsHttpServer_BatchPauseV4Records_POST_api_v5_sdns_records_batch_pause",
        "summary": "Batch Pause Domain Records",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_BatchPauseV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_BatchPauseV4RecordsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/records_batch_enable": {
      "post": {
        "operationId": "RegisterGinConsoleDnsHttpServer_BatchEnableV4Records_POST_api_v5_sdns_records_batch_enable",
        "summary": "Batch Enable Domain Records",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_BatchEnableV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_BatchEnableV4RecordsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/records_import": {
      "post": {
        "operationId": "RegisterGinConsoleDnsHttpServer_ImportV4Records_POST_api_v5_sdns_records_import",
        "summary": "Import domain records",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_ImportV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "multipart/form-data。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_ImportV4RecordsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/records_export": {
      "post": {
        "operationId": "RegisterGinConsoleDnsHttpServer_ExportV4Records_POST_api_v5_sdns_records_export",
        "summary": "Export domain records",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_ExportV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_ExportV4RecordsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/types": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_ListTypes_GET_api_v5_sdns_types",
        "summary": "List Supported Record Types",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_ListTypesResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/api/v5/sdns/lines": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_ListLines_GET_api_v5_sdns_lines",
        "summary": "List DNS Routing Lines",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_ListLinesResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/api/v5/sdns/records_batch_delete": {
      "delete": {
        "operationId": "RegisterGinConsoleDnsHttpServer_BatchDeleteV4Records_DELETE_api_v5_sdns_records_batch_delete",
        "summary": "Batch Delete Domain Records",
        "tags": [
          "Record Management"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_BatchDeleteV4RecordsResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleDns_BatchDeleteV4RecordsReq"
              }
            }
          }
        }
      }
    },
    "/api/v5/sdns/tasks": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_ListTasks_GET_api_v5_sdns_tasks",
        "summary": "List tasks",
        "tags": [
          "Batch Tasks"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_ListTaskResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Page number. The default is 1."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of items per page. Default: 10; maximum: 100."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Task status filter. Valid values: 1 or 2."
          }
        ]
      }
    },
    "/api/v5/sdns/tasks/detail": {
      "get": {
        "operationId": "RegisterGinConsoleDnsHttpServer_GetTasks_GET_api_v5_sdns_tasks_detail",
        "summary": "Get task details",
        "tags": [
          "Batch Tasks"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConsoleDns_GetTaskResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Page number. The default is 1."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of items per page. Default: 10; maximum: 100."
          },
          {
            "name": "job_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Batch task ID."
          }
        ]
      }
    },
    "/api/v5/ruletpl/network_speed/rules": {
      "post": {
        "operationId": "RegisterNetworkSpeedHttpServer_RuleAdd_POST_api_v5_ruletpl_network_speed_rules",
        "summary": "Create a configuration rule",
        "tags": [
          "Origin Fetch, HTTPS, and Performance Optimization"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
                        "code",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Business status code. 1 indicates success.",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "description": "Business status message.",
                          "example": "success"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Response time in YYYY-MM-DD HH:mm:ss format.",
                          "example": "2026-07-22 19:32:22"
                        }
                      }
                    },
                    "data": {
                      "$ref": "#/components/schemas/NetworkSpeed_RuleAddResp",
                      "description": "Business result."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a rule. Only one config_group is supported. The parameters must match the corresponding rule type.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkSpeed_RuleAddReq"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "RegisterNetworkSpeedHttpServer_RuleList_GET_api_v5_ruletpl_network_speed_rules",
        "summary": "Get Configuration Rule List",
        "tags": [
          "Origin Fetch, HTTPS, and Performance Optimization"
        ],
        "responses": {
          "200": {
            "description": "Business response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "description": "Response status.",
                      "required": [
[...]
